* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6B6B6B;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid whitesmoke;
}

main {
    max-width: 1336px;
    margin: auto;
}

section {
    display: flex;
    max-width: 1336px;
    gap: 70px;
    justify-content: space-evenly;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 28
}

.material-symbols-outlined:hover {
  cursor: pointer;
  color: #242424;
}

h2 {
    color: #242424;
}
h3 {
    font-size: 16px;
    font-weight: normal;
}

p, span{
    font-size: 13px;
}
  


/* prima parte barra navigazione */

#head1 {
    max-width: 450px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo img {
    width: 200px;
    height: 50px;
    object-fit: cover;
}

#logo img:hover {
    cursor: pointer;
}

#searchfield {
    max-width: 210px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 20px;
    background-color: whitesmoke;
    padding-left: 10px;
}

#searchfield input{
    height: 40px;
    border: transparent;
    background-color: transparent;
    object-fit: cover;
}

#searchfield input:hover {
    cursor: text;
}



/* seconda parte barra navigazione */

#impostazioni {
    max-width: 200px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#write-button {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#impostazioni span:hover {
    cursor: pointer;
}




/* generale settore news */

.fav-news {
    display: flex;
    flex-direction: column;
    max-width: 730px;   
}




/* barra favaourites */

.favourites {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 730px;
    height: 50px;
    margin: 20px 20px 0 20px;
    border-bottom: 2px solid whitesmoke;
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: white;
}

.favourites span:hover {
    cursor: pointer;
    color: #242424;
}

.favourites .material-symbols-outlined:hover {
    cursor: pointer;
    color: #242424;
    background-color: whitesmoke;
    border-radius: 50px;

}


/* settore articoli */

.news {
    margin-top: 20px;
}

.article {
    display: flex;
    justify-content: space-between;
    height: 200px;
    max-width: 730px;
    margin: 20px 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid whitesmoke; 
    gap: 30px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 650px;
    height: 200px;
}

.text:hover {
    cursor: pointer;
}

.author {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-bottom: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 150px;
    padding-left: 5px;
    min-width: 350px

}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.general {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.star-date-like-comments {
    display: flex;
    align-items: center;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100px;
}

/* immagine */

.figure {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 300px;
    height: 200px;
}

.figure:hover {
    cursor: pointer;
}

.image img {
    display: flex;
    max-width: 150px;
    max-height: 100px;
    object-fit: cover;
}




/* generale settore topics */

#topics {
    display: flex;
    flex-direction: column;
    border-left: 2px solid whitesmoke;
    padding-top: 20px;
    max-width: 368px;
    min-width: 350px;
    color: #242424;
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    top: -150px;
}

.one-topic  {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 10px 0px 0px 20px;
    max-width: 350px;
}

.one-topic span:hover, h4:hover, p:hover, button:hover {
    cursor: pointer;
}

.topic-title {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.short-info p {
    color: #6B6B6B;
}

.see-more {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: rgb(1, 143, 1);
}



/* Staff Pics */

.writer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 10px 10px 15px;
    max-width: 300px;
}

.writer-img-info {
    display: flex;
    justify-content: flex-start;
    max-width: 320px;
}

.name {
    display: flex;
    align-items: center;
    gap: 5px;
}

.script-title {
    display: flex;
    align-items: center;
    padding-left: 5px;
    max-width: 300px;
}




/* Recommended topics */

.more-topics {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    margin-left: 20px;
    max-width: 350px;
    height: 130px;
}

.more-topics p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    min-width: 40px;
    border-radius: 30px;
    background-color: whitesmoke;
}

.group-of-topics {
    max-width: 260px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    gap: 10px;
}

.third-row {
    justify-content: flex-start;
}




/* Who to follow */

.all-authors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content; 
    margin-left: 5px;  
}

.author2 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    max-width: 320px;
}

.author-img-info {
    display: flex;
    justify-content: space-between;
    max-width: 210px;
}

.author-img {
    display: flex;
    justify-content: center;
    width: 30px;
}

.author-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 170px;
    gap: 10px;
}

.follow-button {
    display: flex;
    justify-content: center;
}

.follow-button button {
    width: 65px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #242424;
    background-color: white;
}




/* Reading list */

.save-articles {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    align-content: space-between;
}




/* Footer */

.link {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 10px;
    padding-left: 20px;
}